# Terraform
# *.tfstate
# *.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars.backup
*.tfplan
lambda_function.zip

# Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# AWS
.aws/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

terraform/.terraform/*
